
h1, h3{
    display: none;
}
body {
    background-color: rgb(1, 29, 15);
}
    
header {
    background-color:   rgb(151, 81, 24);
}
.welcome {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: xx-large;
    letter-spacing: 2px;
    margin-right: 20px;
    margin-top: 40px;
    animation-name: fade;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes fade {
    0% {opacity: 0.2;}
    25%{opacity: 0.6;}
    50% {opacity: 1;}
    75%{opacity: 0.6;}
    100%{opacity: 0.2;}
}

.logo_1 {
    border: 3px solid black;
    width: 155px;
    height: 150px;
      }
      
      
   
.logo2 {
    border: 3px solid black;
    width: 155px;
    height: 150px;
}


#image1, #image3 {
   border: 3px solid black;
   text-align: center;
   height: 190px;
   width: 357px;
    
}

#image2 {
    border: 3px solid black;
    text-align: center;
    height: 190px;
    width: 457px;
}

#image-carousel {
    margin: 10px;   
}

#log_in {
    height: 20px;
    width: 20px;
    background-color: green;
}

.navbutton {
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 19px;
    padding: 10px;
    background-color: green;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

#main-nav {
    width: 1240px;
    height: 40px;   
    margin-top: 20px; 
    margin-bottom: 5px;
    padding: 10px;
    background-color: green;
    border: 3px solid black;
}
    
li {
    display: inline;
}

#search_bar{
    border-radius: 15px;
    background-color: green;
    border: 3px solid black;
    width: 1260px;
    height: 66px;
    
}

#search_text {
    color: black;
    width: 800px;
    text-align: center;
    float: right;
    margin-right: 40px;
    margin-bottom: 10px;
 }

input {
    width: 350px;  
    margin: 25px; 
    border: 3px solid black;
}

#signup-portal {
  background-color: grey;

}

#house1, #house2 {
    border: 3px solid black;
    height: 500px;
    width: 250px;
}

.house1, .house2 {
    height: 500px;
    width: 250px;
}
p, a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: large;   
    background-color: green;
    text-decoration: none;
    padding: 3px;
}

a:hover {
    color: rgb(165, 99, 42);
}

#smiley_para{
    width: 250px;
    text-align: center;
}

#login-para, #join-para, #signup, #a-user {
    text-align: center;
    width: 150px;
}

#arrow-svg, #user-svg {
    width: 100px;
    margin-left: 30px;
    text-align: center;

}

#smiley {
    width: 100px;
    margin-left: 100px;
    margin-top: 40px;
}

footer{
    background-color: green;
    position: sticky;
    text-align: center;
}

#copyright {
    text-align: center;
    color: black;
}